# Dependencies
node_modules

# Git
.git

# Environment files
.env*
!.env.test

# Documentation
*.md
CLAUDE.md
postman.json

# OS
.DS_Store

# Editors
.vscode
.idea

# Logs
*.log

# Build output
dist
.cache

# Tests
**/*.test.ts
**/*.spec.ts

# Test coverage
coverage
.nyc_output

# CI/CD
.github

# Scripts
*.sh
